@charset "utf-8";
/* CSS Document */

.introText {
    color: white;
    position: relative;
    top: -80px;
    width: 60%;
    margin: auto;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    -webkit-animation: fadeText 8s;
    -moz-animation: fadeText 8s;
    -o-animation: fadeText 8s;
    animation: fadeText 8s;
    animation-fill-mode: none;
}