@charset "utf-8";
/* CSS Document */
html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
}

i.fa-facebook:link{color: white;}
i.fa-facebook:link{color: white;}
i.fa-instagram:link{color: white;}
i.fa-linkedin:link{color: white;}
i.fa-snapchat:link{color: white;}
i.fa-coffee:link{color: white;}
i.material-icons:link{color: white;}

i.fa-facebook:hover{color: dodgerblue; transition: 0.6s;}
i.fa-twitter:hover{color: deepskyblue; transition: 0.6s;}
i.fa-instagram:hover{color: red; transition: 0.6s;}
i.fa-linkedin:hover{color: skyblue; transition: 0.6s;}
i.fa-snapchat:hover{color: yellow; transition: 0.6s;}
i.fa-coffee:hover{color: saddlebrown; transition: 0.6s;}
i.material-icons:hover{color: red; transition: 0.6s;}

/* Mobile */ 

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

i.menuIcon {
    position: fixed;
    top: 12px;
    right: 15px;
    font-size: 18px;
    color: white;
    cursor: pointer;
    -webkit-animation: fadeText 8s;
    -moz-animation: fadeText 8s;
    -o-animation: fadeText 8s;
    animation: fadeText 8s;
    animation-fill-mode: none;
    z-index: 2;
}

i.menuIcon:hover {
    color: red;
    transition: 1s;
}

.menuOverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlayContent {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.menuOverlay a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: "Josefin Slab", serif;
}

.menuOverlay a:hover, .menuOverlay a:focus {
    color: red;
    transition: 0.6s;
}

.menuOverlay .closeBtn {
    position: absolute;
    top: 2px;
    right: 5px;
    font-size: 16px;
}

.closeBtn:hover {
    color: red;
    transition: 0.6s;
}

.openingPage {
    font-family: 'Josefin Slab', serif;
    text-align: center;
    height: 100%;
    display: block;
    padding-bottom: 50%;
}

.myLogo {
    position: fixed;
    left: 10px;
    width: 50px;
    animation: myPhoto 5s;
    -o-animation: myPhoto 5s;;
    -moz-animation: myPhoto 5s;
    -webkit-animation: myPhoto 5s;
    z-index: 2;
}

@keyframes myPhoto {
    0% {filter: grayscale(100%) brightness(0%);}
    100% {filter: grayscale(0%) brightness(100%);}
}

.myPhoto {
    height: auto;
    width: 180px;
    display: block;
    position: absolute;
    padding-bottom: 10px;
    top: 50px;
    left: 15px;
    -webkit-transition: filter 1s;
    -o-transition: filter 1s;
    -moz-transition: filter 1s;
    transition: filter 1s;
    -webkit-animation: myPhoto 5s;
    -o-animation: myPhoto 5s;
    -moz-animation: myPhoto 5s;
    animation: myPhoto 5s;
    animation-fill-mode: none;
}

.myPhoto:hover {
    filter: grayscale(100%);
}

#line {
    height: 210px;
    width: 1px;
    border-bottom: 2px solid black; 
    -webkit-animation: increase 8s;
    -moz-animation: increase 8s; 
    -o-animation: increase 8s; 
    animation: increase 8s;
    animation-fill-mode: forwards;
}

@keyframes increase {
    0% {border-bottom-color: black;}
    100% {width: 100%; border-bottom-color: white;}
}

@keyframes fadeText {
    0% {color: black;}
    100% {color: white;}
}

.openingText {
    position: absolute;
    color: white;
    text-align: justify;
    top: 80px;
    right: 60px;
    font-size: 14px;
    -webkit-animation: fadeText 8s;
    -moz-animation: fadeText 8s;
    -o-animation: fadeText 8s;
    animation: fadeText 8s;
    animation-fill-mode: none;
    padding: 4px;
}

.iAM {
    position: absolute;
    top: 30px;
    right: 110px;
}

.openingSocialMedia {
    color: white;
    position: absolute;
    width: 50%;
    top: 230px;
    right: 5px;
    -webkit-animation: fadeText 8s;
    -moz-animation: fadeText 8s;
    -o-animation: fadeText 8s;
    animation: fadeText 8s;
    animation-fill-mode: none;
}

.openingSocialMedia p {
    font-size: 15px;
    padding-bottom: 5px;
}

.SocialIcons {
    padding: 10px;
    color: white;
    text-align: center;
    -webkit-animation: fadeText 8s;
    -moz-animation: fadeText 8s;
    -o-animation: fadeText 8s;
    animation: fadeText 8s;
    animation-fill-mode: none;
}

.somePhotos {
    color: white;
    height: 100%;
    display: block;
    position: relative;
    font-family: "Josefin Slab", serif;
    padding-top: 10px;
    -webkit-animation: fadeText 8s;
    -moz-animation: fadeText 8s;
    -o-animation: fadeText 8s;
    animation: fadeText 8s;
    animation-fill-mode: none;
}

.somePhotos h1 {
    text-align: center;
    font-size: 22px;
}

.somePhotos p {
    padding-top: 15px;
    width: 60%;
    margin: auto;
    text-align: center;
    font-size: 14px;
}

.randomGrid {
    padding-top: 10px;
}

#randomGridPhotos {
    line-height: 3;
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 8x;
    -moz-column-gap: 8x;
    column-gap: 8px;
}

#randomGridPhotos img {
    width: 100% !important;
    height: auto !important;
    filter: grayscale(100%);
    -webkit-transition: filter 1s;
    -o-transition: filter 1s;
    -moz-transition: filter 1s;
    transition: filter 1s;
    -webkit-animation: myRandomGrid 10s;
    -o-animation: myRandomGrid 10s;
    -moz-animation: myRandomGrid 10s;
    animation: myRandomGrid 10s;
    animation-fill-mode: none;
}

@keyframes myRandomGrid {
    0% {filter: grayscale(0%) brightness(0%);}
    100% {filter: grayscale(100%) brightness(100%);}
}

#randomGridPhotos img:hover {
    filter: grayscale(0%);
}


#Footer {
    padding-top: 20px;
    color: white;
    text-align: center; 
    font-size: 12px;
    width: 100%;
    margin: auto;
    -webkit-animation: fadeText 8s;
    -moz-animation: fadeText 8s;
    -o-animation: fadeText 8s;
    animation: fadeText 8s;
    animation-fill-mode: none;
}

@keyframes knowButtonFooter {
    0% {color: black;}
    100% {color: gray;}
}

.fa.fa-coffee {
    font-size: 12px;
    padding: 2px;
}
.material-icons.size {
    font-size: 12px;
    padding: 2px;
}
.Copyright {
    color: grey;
    -webkit-animation: knowButtonFooter 8s;
    -moz-animation: knowButtonFooter 8s; 
    -o-animation: knowButtonFooter 8s;
    animation: knowButtonFooter 8s;
}

/* Desktop */

@media only screen and (min-width: 1024px) {
    .myLogo {
        width: 80px;
    }
    
    i.menuIcon {
        font-size: 28px;
    }
    
    .menuOverlay .closeBtn {
        font-size: 28px;
        padding: 10px;
    }
    
    .menuOverlay a {
        font-size: 28px;
        padding: 18px;
    }
    
    .myPhoto {
        width: 300px;
        left: 30px;
    }
    
    #line {
        height: 320px;
    }
    
    .openingText {
        top: 80px;
        left: 500px;
        font-size: 24px;
        padding: 4px;
    }

    .iAM {
        top: 50px;
        left: -100px;
    }

    .openingSocialMedia {
        width: 18%;
        right: 180px;
        top: 100px;
    }

    .openingSocialMedia p {
        font-size: 24px;
        padding-bottom: 10px;
    }

    .SocialIcons {
        padding: 15px;
        font-size: 24px;
    }
    
}