@charset "utf-8";
/* CSS Document */
html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background-color: black;
}   

/* Mobile */

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

.openingPage {
    font-family: 'Josefin Slab', serif;
    text-align: center;
}

.myLogo {
    position: fixed;
    left: 10px;
    width: 50px;
    animation: myPhoto 5s;
    -o-animation: myPhoto 5s;;
    -moz-animation: myPhoto 5s;
    -webkit-animation: myPhoto 5s;
}

.myPhoto {
    height: auto;
    width: 150px;
    display: block;
    position: fixed;
    top: 10px;
    right: 15px;
    -webkit-transition: filter 1s;
    transition: filter 1s;
    -webkit-animation: myPhoto 5s;
    -o-animation: myPhoto 5s;
    -moz-animation: myPhoto 5s;
    animation: myPhoto 5s;
    animation-fill-mode: none;
}

@keyframes myPhoto {
    0% {filter: grayscale(100%) brightness(0%);}
    100% {filter: grayscale(0%) brightness(100%);}
}

.myPhoto:hover {
    filter: grayscale(100%);
}

h1, h2, h3 {
    padding: 10px;
}

@keyframes fadeText {
    0% {color: black;}
    100% {color: white;}
}

.openingText {
    position: fixed;
    color: white;
    top: 200px;
    left: 30px;
    font-size: 12px;
    -webkit-animation: fadeText 6s;
    -moz-animation: fadeText 6s;
    -o-animation: fadeText 6s;
    animation: fadeText 6s;
    animation-fill-mode: none;
    padding: 4px;
}

.enterPage a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    -webkit-transition: color 1s;
    transition: color 1s;
    -moz-animation: fadeText 6s; 
    -o-animation: fadeText 6s;
    animation: fadeText 6s;
    animation-fill-mode: none;
    padding: 3px;
}

.enterPage a:hover {
    color: red;
}

.footer {
    color: gray;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    text-align: center;
    left: 0;
    -webkit-transition: color 1s;
    transition: color 1s;
    -webkit-animation: knowButtonFooter 6s;
    -moz-animation: knowButtonFooter 6s; 
    -o-animation: knowButtonFooter 6s;
    animation: knowButtonFooter 6s;
    width: 100%;
}

@keyframes knowButtonFooter {
    0% {color: black;}
    100% {color: gray;}
}

.footer:hover {
    color: red;
}

#line {
    height: 150px;
    width: 1px;
    border-bottom: 2px solid black; 
    -webkit-animation: increase 8s;
    -moz-animation: increase 8s; 
    -o-animation: increase 8s; 
    animation: increase 8s;
    animation-fill-mode: forwards;
}

@keyframes increase {
    0% {border-bottom-color: black;}
    100% {width: 100%; border-bottom-color: white;}
}

/* Desktop */
@media only screen and (min-width: 1024px) {
    .openingPage {
        width: 90%;
    }
    
    .myLogo {
        width: 80px;
    }
    
    .myPhoto {
        position: relative;
        width: 245px;
        float: right;
    }
    
    .openingText {
        font-size: 16px;
        text-align: center;
        position: relative;
    }
    
    #line {
        height: 0px;
    }
    
    .footer {
        font-size: 16px;
    }
}