@charset "utf-8";
/* CSS Document */

#sponsors {
    background-color: white;
    display: block;
    transition: top 0.3s;
    padding: 10px;
}

#gallery {
    background-color: white;
    display: block;
    transition: top 0.3s;
    padding: 10px;
}

.sponsorHeading {
    color: black;
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
}

#sponsors img { 
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
    padding: 5px;
}

#gallery img { 
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: block;
    padding: 5px;
}


#eventsPage {
    background-color: black;
    display: block;
    transition: top 0.3s;
    padding: 10px;
}

#eventsPage a:hover {
    color: red;
    transition: 0.6s;
}

.center {
    margin: auto;
    width: 70%;
}

h1.eventPage {
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-top: 40px;
}

h2.eventInfo {
    text-align: center;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
}

#eventsPage h3 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#eventsPage img {
        height: auto;
        width: 250px;
        margin: auto;
        display: inline-block;
        padding: 25px;
    }

#contentEvent p {
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 10px;
}

#contentEvent a {
    color: white;
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    padding: 10px;
}

#contentEvent a.registerButton2 {
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: white;
    font-family: 'Roboto Mono', sans-serif;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    display: block;
    color: red;
    border-radius: 10px;
}

#contentEvent a.registerButton2:hover {
    background-color: red;
    color: white;
    transition: 0.6s;
}

[id^=modal] {
    display: none;
    border: 1px solid red;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0.85);
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    z-index: 5;
}

[id^=modal] ul li{
    color: white;
    text-align: center;
    padding: 4px;
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}

#modal1:target {
    display: block;
}

#modal2:target {
    display: block;
}

#modal3:target {
    display: block;
}

#modal4:target {
    display: block;
}

#modal5:target {
    display: block;
}

#modal6:target {
    display: block;
}

#modal7:target {
    display: block;
}

#modal8:target {
    display: block;
}

[id^=modal] a {
    float: right;
}

#register {
    padding: 10px;
    background-color: black;
    display: block;
    transition: top 0.3s;
}

#register p{
    color: white;
    text-align: center;
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

option {
    color: black;
    font-family: 'Quicksand', sans-serif;
}

input[type=text], input[type=email], select {
    
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: white;
    color: red;
}

input[type=submit] {
    background-color: white;
    color: red;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: black;
    color: red;
    transition: 0.6s;
}

#showAmount {
    color: white;
    padding: 10px;
}

/* Desktop View */

@media only screen and (min-width: 1024px) {
    .logo {
        position: relative;
        padding: 4px;
        height: auto;
        width: 120px;
        left: 0px;
        display: inline;
    }
    
    .menu {
        float: right;
        padding-top: 10px;
        
    }
    
    .menu a{
        display: inline;
        font-size: 20px;
        background-color: #0005
    }

    .menuBar i{
        display: none;
    }

    .menu.responsive a{
        display: none;
    }
    
    h1.mainHeading {
        padding-top: 120px;
        font-size: 35px;
    }
    
    h2.mainInfo {
        margin: auto;
        width: 50%;
        font-size: 25px;
    }

    i.down {
        font-size: 100px;
    }

    h3.mainDate {
        font-size: 20px;
    }
    
    #sponsors {
        height: 100%;
    }
    
    .sponsorHeading {
        font-size: 30px;
    }

    #sponsors img { 
        height: 150px;
        width: auto;
        margin: auto;
        display: inline-block;
        padding: 25px;
    }
    
    #gallery img {
        height: auto;
        width: 350px;
        margin: auto;
        display: inline-block;
        padding: 25px;
    }
    
    .eventCard {
        display: inline-block;
    }
    
    #eventsPage img {
        height: auto;
        width: 200px;
        margin: auto;
        display: inline-block;
        padding: 25px;
    }
    
    #eventsPage img.workshopPhotos {
        height: auto;
        width: 400px;
        margin: auto;
        display: block;
        padding: 25px;
    }
}