@charset "utf-8";
/* CSS Document */
html,
html * {
	padding: 0;
	margin: 0;
	color: black;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
}

/* Mobile View */

#container{
    display: block;
    background-color: #0000;
    border-radius: 6px;
    padding: 5px;
    position: fixed;
    top: -100px;
    width: 100%;
    transition: top 0.3s;
}

.logoAndNavbar{
    margin: auto;
}

.logo {
    position: relative;
    padding: 4px;
    height: auto;
    width: 120px;
    left: 0px;
    display: block; 
}

.logo2 {
    position: relative;
    height: auto;
    width: 150px;
    top: 25px;
    left: 0px;
    display: inline;
}

.logo3 {
    position: relative;
    height: auto;
    width: 90px;
    top: 15px;
    right: 10px;
    float: right;
    display: inline-block;
}

.menu a{
    display: none;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Roboto Mono', monospace;
    color: white;
    background-color: black;
}

.menu a:hover{
    background-color: white;
    color: black;
}

.menuBar {
    float: right;
    position: absolute;
    top: 30px;
    right: 10px;
}

.menuBar a{
    text-decoration: none;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

.menuBar a:hover{
    background-color: black;
    color: white;
}

.menuBar i{
    color: red;
}

.menu.responsive a{
    display: block;
}

#backGround {
    background-image: url("/Photos/backGroundImage3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    transition: top 0.3s;
    padding: 10px;
}

h1.mainHeading {
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 22px;
    font-family: 'Roboto Mono',monospace;
    color: white;
}

.regButton {
    margin: auto;
    padding-top: 20px;
    width: 22%;
}
a.registerButton {
    border: none;
    text-align: center;
    text-decoration: none;
    background-color: white;
    font-family: 'Roboto Mono', sans-serif;
    padding: 5px;
    font-size: 12px;
    cursor: pointer;
    display: block;
    color: red;
    border-radius: 10px;
}

a.registerButton:hover {
    background-color: red;
    color: white;
    transition: 0.6s;
}

h2.mainInfo {
    padding-top: 45px;
    text-align: center;
    font-size: 16px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}

i.down {
    color: white;
    margin: auto;
    width: 50%;
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 50px;
}

i.down:hover {
    color: red;
    transition: 0.8s;
}

h3.mainDate {
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
    color: white;
}

#aboutCollege {
    background-image: url("/Photos/backGroundImage4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    transition: top 0.3s;
    padding: 10px;
}

h1.secondHeading {
    padding-top: 60px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}
#aboutCollege p {
    color: white;
    text-align: center;
    margin: auto;
    width: 95%;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 100px;
}

#aboutCollege2 {
    background-image: url("/Photos/20180318_194642.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    transition: top 0.3s;
    padding: 10px;
}

#aboutCollege2 p {
    color: white;
    text-align: center;
    margin: auto;
    width: 95%;
    font-size: 16px;
    font-family: sans-serif;
    padding-top: 50px;
}

.collegeImage { 
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
}

#aboutTeam {
    transition: top 0.3s;
    padding: 10px;
}

.column {
    margin: auto;
    width: 95%;
    display: block;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-top: 20px;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    transition: 0.6s;
}

.team {
    padding: 10px 16px;
}

.team::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.teamMember {
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
}

.title {
    color: grey;
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
}

.teamInfo {
    font-family: 'Quicksand', sans-serif;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
}

#events {
     background-image: url("/Photos/lampCreeper1.jpeg");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     display: block;
     height: 100%;
     transition: top 0.3s;
     padding: 10px;
}

h1.event {
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-top: 50px;
}

h2.comingSoon {
    text-align: center;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-top: 250px;
}

#workshops {
    background-image: url("/Photos/lampCreeper2.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    transition: top 0.3s;
    padding: 10px;
    
}

h1.workshop {
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-top: 50px;
}

#contactUs {
    background-image: url("/Photos/lightBulbs.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 100%;
    transition: top 0.3s;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

h1.contact {
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}

#contactCenter {
    margin: auto;
    text-align: center;
}

label {
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 18px;
    resize: vertical;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
}

input[type=submit] {
    background-color: white;
    color: red;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: red;
    color: white;
    transition: 0.6s;
}

#socialMedia {
    background-color: black;
    background-size: cover;
    display: block;
    height: 50%;
    transition: top 0.3s;
    margin: auto;
    padding: 10px;
}

h1.moreTitle {
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 50px;
    padding-bottom: 25px;
}

p.moreInfo {
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: 'Quicksand', sans-serif;
}

p.mailAt {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    padding-top: 10px;
}

p.mailAt a{
    color: white;
    text-align: center;
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
}

p.mailAt a:hover{
    color: red;
    transition: 0.6s;
}

#icons {
    text-align: center;
}

i.fa-facebook {
    color: white;
    padding: 25px;
    font-size: 25px;
}

i.fa-instagram {
    color: white;
    padding: 25px;
    font-size: 25px;
}

i.fa-facebook:hover {
    color: blue;
    transition: 0.6s;
}
i.fa-instagram:hover {
    color: red;
    transition: 0.6s;
}

#footer {
    background-color: black;
    padding: 10px;
}

.made {
    color: white;
    text-align: center;
    font-size: 16px;
    font-family: serif;
}

.copyRight {
    color: gray;
    text-align: center;
    font-family: monospace;
    padding: 5px;
    font-size: 14px;
}


/* Desktop View */

@media only screen and (min-width: 1024px) {
    .logo {
        position: relative;
        padding: 4px;
        height: auto;
        width: 120px;
        left: 0px;
        display: inline;
    }
    
    .menu {
        float: right;
        padding-top: 10px;
        
    }
    
    .menu a{
        display: inline;
        font-size: 20px;
        background-color: #0005
    }

    .menuBar i{
        display: none;
    }

    .menu.responsive a{
        display: none;
    }
    
    h1.mainHeading {
        padding-top: 10px;
        font-size: 55px;
    }

    .regButton {
        padding: 30px;
    }
    a.registerButton {
        padding: 5px;
        font-size: 25px;
    }

    h2.mainInfo {
        margin: auto;
        width: 50%;
        font-size: 35px;
    }

    i.down {
        font-size: 100px;
    }

    h3.mainDate {
        font-size: 30px;
    }
    
    h1.secondHeading {
        padding-top: 10px;
        font-size: 45px;
    }
    
    #aboutCollege p {
        margin: auto;
        width: 50%;
        font-size: 25px;
    }

    #aboutCollege2 {
        background-image: url("/Photos/20180318_194642.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 100%;
        transition: top 0.3s;
    }

    #aboutCollege2 p {
        margin: auto;
        width: 80%;
        padding-left: 10px;
        display: block;
        font-size: 20px;
        font-family: 'Quicksand', sans-serif;
    }
    
    #aboutTeam {
        padding-bottom: 50px;
    }

    .collegeImage { 
        width: 50%;
        padding-right: 60px;
        float: left;
        display: block;
    }
    
    .column {
        float: left;
        width: 50%;
        padding: 0 18px;
    }
    
    .teamPhoto {
        height: 500px;
        width: auto;
    }
    
    .team {
        padding: 15px 20px;
    }
    
    #events {
         background-position: 50% 33%;
    }

    h1.event {
        font-size: 50px;
    }

    h2.comingSoon {
        font-size: 25px;
    }

    #workshops {
        background-position: 50% 25%;

    }

    h1.workshop {
        font-size: 50px;
    }
    
    #contactUs {
        background-position: 50% 25%;
    }

    h1.contact {
        font-size: 50px;
    }